body{
    background-color:#d9ecdd; 
    display: flex;
    justify-content: center;
}

#Main-Container {
    width: 1024px; 
    height: 2740px; 
    border: solid; 
    border-color: black; 
    border-width: 1px;
}
 
#Header{
    width: 1024px;
    height: 150px;
    border: solid; 
    border-color: #6c5c7b; 
    border-width: 1px;
    background-color: #6c5c7b;

    text-align: center;
    font-size: xx-large;
    color: #513b66;
}

.Border {
    height: 100px;
    width: 525px;
    background-color: #988aa5;
    margin-top: -110px;
    justify-self: center;
    border-radius: 30px;
}

#Logo-Section {
    width: 1024px;
    height: 1140px;
    border: solid; 
    border-color: black;
    border-width: 1px;
}

#Home-Logo {
    margin-top: -140px;
    margin-right: 710px;
}

#Logo {
    margin-top: 35px;
    margin-left: 40px;
}

.Image1 {
    height: 450px;
    width: 380px;
    background-color: #988aa5;
    margin-top: 80px;
    margin-left: 50px;
    border-radius: 30px;
}

.Image2 {
    height: 450px;
    width: 480px;
    background-color: #988aa5;
    margin-top: -450px;
    margin-left: 490px;
    border-radius: 30px;
}

#Resume {
    width: 1024px;
    height: 1450px;
    border: solid; 
    border-width: 1px;
    background-color: #aa9eb5;
}

#Resume-Header {
    width: 1024px;
    height: 140px;
    border: solid;
    border-color: #6c5c7b; 
    border-width: 1px;
    background-color: #6c5c7b;

    text-align: center;
    font-size: xx-large;
    color: #513b66;
}

#Resume-Paper {
    margin-top: 75px;
    justify-self: center;
}

#Second-Home-Logo {
    margin-top: -135px;
    margin-left: 820px;
}

.Resume-Border {
    height: 100px;
    width: 525px;
    background-color: #988aa5;
    margin-top: -140px;
    justify-self: center;
    border-radius: 30px;
}

#Dogs {
    margin-top: -425px;
    margin-left: 75px;
}

.Portfolio-About-Contact-Box {
    height: 500px;
    width: 250px;
    background-color: #a7c8aa;
    margin-left: -320px;
    margin-top: 220px;
    border-radius: 30px;
}

.Portfolio-Box {
    height: 100px;
    width: 170px;
    background-color: #d9ecdd;
    margin-top: 270px;
    margin-left: -210px;
    border-radius: 30px;
}

.About-Box {
    height: 100px;
    width: 170px;
    background-color: #d9ecdd;
    margin-top: 420px;
    margin-left: -170px;
    border-radius: 30px;
}

.Contact-Box {
    height: 100px;
    width: 170px;
    background-color: #d9ecdd;
    margin-top: 570px;
    margin-left: -170px;
    border-radius: 30px;
}

.Portfolio-Tab1 {
    margin-left: -145px;
    font-size: xx-large;
    margin-top: 300px;
}

.About-Tab1 {
    margin-left: -120px;
    font-size: xx-large;
    margin-top: 450px;
}

.Contact-Tab1 {
    margin-left: -115px;
    font-size: xx-large;
    margin-top: 600px;
}

a.Class1 {
    text-decoration: none;
    color:#39663e;
}

/* Things to still do for home page: 
    Add image
    Change typeface for text
    Round photos
    Center title
    Title images
*/

#Portfolio-Main-Container {
    width: 1024px; 
    height: 750px; 
    border: solid; 
    border-color: black; 
    border-width: 1px;
}

#Portfolio-Logo {
    margin-top: -140px;
    margin-right: 710px;
}

.Portfolio-Topics {
    width: 1024px;
    height: 90px; 
    background-color: #aa9eb5;
}

.Photo-Section {
    width: 520px;
    height: 355px;
    background-color: #aa9eb5;
    justify-self: center;
    margin-top: 70px;
    border-radius: 30px;
}

#Photo-Left {
    margin-top: -205px;
    margin-left: 125px;
}

#Photo-Right {
    margin-top: -75px;
    margin-left: 810px;
}

.How-Many {
    width: 80px;
    height: 40px;
    background-color: #92b696;
    opacity: 80%;
    margin-top: -275px;
    margin-left: 670px;
    border-radius: 10px;
}

.Description {
    height: 40px;
    width: 500px;
    background-color: #92b696;
    opacity: 80%;
    justify-self: center;
    margin-top: 390px;
    border-radius: 10px;
}

#Cattail1 {
    margin-top: -190px;
    margin-left: 25px;
}

#Cattail2and3 {
    margin-top: -205px;
    margin-left: 780px;
}

.Portfolio-Portfolio {
    width: 135px;
    height: 30px;
    background-color: #aa9eb5;
    margin-top: -743px;
    margin-left: 840px;
    border-radius: 10px;
}

.About-Portfolio {
    width: 135px;
    height: 30px;
    background-color: #aa9eb5;
    margin-left: 840px;
    margin-top: 15px;
    border-radius: 10px;
}

.Contact-Portfolio {
    width: 135px;
    height: 30px;
    background-color: #aa9eb5;
    margin-left: 840px;
    margin-top: 15px;
    border-radius: 10px;
}

.Ceramics-Box {
    width: 150px;
    height: 60px;
    background-color: #6c5c7b;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 20px;
}

.Digital-Design-Box {
    width: 150px;
    height: 60px;
    background-color: #6c5c7b;
    margin-top: -60px;
    margin-left: 245px;
    border-radius: 20px;
}

.Photography-Box {
    width: 150px;
    height: 60px;
    background-color: #6c5c7b;
    margin-top: -60px;
    margin-left: 440px;
    border-radius: 20px;
}

.Traditional-Art-Box {
    width: 150px;
    height: 60px;
    background-color: #6c5c7b;
    margin-top: -60px;
    margin-left: 630px;
    border-radius: 20px;
}

.Digital-Art-Box {
    width: 150px;
    height: 60px;
    background-color: #6c5c7b;
    margin-top: -60px;
    margin-left: 820px;
    border-radius: 20px;
}

.Portfolio-Tab2 {
    margin-top: -210px;
    margin-left: 865px;
    font-size: x-large;
}

.About-Tab2 {
    margin-top: 18px;
    margin-left: 860px;
}

.Contact-Tab2 {
    margin-top: 18px;
    margin-left: 870px;
}

a.Class2 {
    text-decoration: none;
    color:#513b66;
    font-size: x-large;
}

#Ceramics {
    margin-top: 45px;
    font-size: 30px;
    margin-left: 65px;
    color: #b9acc4;
}

#Digital1 {
    font-size: 25px;
    margin-top: -75px;
    margin-left: 285px;
    color: #b9acc4;
}

#Design {
    font-size: 25px;
    margin-top: -30px;
    margin-left: 285px;
    color: #b9acc4;
}

#Photography {
    font-size: 25px;
    margin-top: -65px;
    margin-left: 450px;
    color: #b9acc4;
}

#Traditional {
    font-size: 25px;
    margin-top: -65px;
    margin-left: 646px;
    color: #b9acc4;
}

#Art1 {
    font-size: 25px;
    margin-top: -30px;
    margin-left: 685px;
    color: #b9acc4;
}

#Digital2 {
    font-size: 25px;
    margin-top: -78px;
    margin-left: 855px;
    color: #b9acc4;
}

#Art2 {
    font-size: 25px;
    margin-top: -28px;
    margin-left: 875px;
    color: #b9acc4;
}

/* Things to still do for portfolio page:
    Add text and images
    Change color & typeface for text
    Round images 
    Center title
    Title images
    Make it work
*/

#About-Main-Container {
    width: 1024px; 
    height: 1365px; 
    border: solid; 
    border-color: black; 
    border-width: 1px;
}

#About-Logo {
    margin-top: -140px;
    margin-right: 710px;
}

.Fun-Facts-Title-Box {
    height: 100px;
    width: 260px;
    background-color: #aa9eb5;
    margin-left: 55px;
    margin-top: 40px;
    border-radius: 25px;
}

.Interests-Title-Box {
    height: 100px;
    width: 260px;
    background-color: #aa9eb5;
    justify-self: center;
    margin-top: -100px;
    border-radius: 25px;
}

.Traveling-Title-Box {
    height: 100px;
    width: 260px;
    background-color: #aa9eb5;
    margin-left: 710px;
    margin-top: -100px;
    border-radius: 25px;
}

.Fun-Facts {
    height: 400px;
    width: 240px;
    background-color: #92b696;
    margin-left: 65px;
    margin-top: 40px;
    border-radius: 25px;
}

.Fun-Facts-Header {
    font-size: 50px;
    margin-top: 76px;
    margin-left: 85px;
    color: #513b66;
}

.Interests-Header {
    font-size: 50px;
    margin-top: -106px;
    justify-self: center;
    color: #513b66;
}

.Traveling-Header {
    font-size: 50px;
    margin-top: -106px;
    margin-left: 745px;
    color: #513b66;
}

.Interests {
    height: 400px;
    width: 240px;
    background-color: #92b696;
    justify-self: center;
    margin-top: -400px;
    border-radius: 25px;
}

.Traveling {
    height: 400px;
    width: 240px;
    background-color: #92b696;
    margin-left: 720px;
    margin-top: -400px;
    border-radius: 25px;
}

.Image3 {
    height: 550px;
    width: 465px;
    background-color: #aa9eb5;
    margin-top: 50px;
    margin-left: 65px;
    border-radius: 30px;
}

.Story-Title {
    height: 100px;
    width: 260px;
    background-color: #aa9eb5;
    margin-top: -550px;
    margin-left: 640px;
    border-radius: 25px;
}

.Story-Section {
    height: 405px;
    width: 425px;
    background-color: #92b696;
    margin-left: 565px;
    margin-top: 45px;
    border-radius: 30px;
}

.Portfolio-About {
    width: 135px;
    height: 30px;
    background-color: #aa9eb5;
    margin-top: -1317px;
    margin-left: 840px;
    border-radius: 10px;
}

.About-About {
    width: 135px;
    height: 30px;
    background-color: #aa9eb5;
    margin-left: 840px;
    margin-top: 15px;
    border-radius: 10px;
}

.Contact-About {
    width: 135px;
    height: 30px;
    background-color: #aa9eb5;
    margin-left: 840px;
    margin-top: 15px;
    border-radius: 10px;
}

.Portfolio-Tab3 {
    margin-top: -305px;
    margin-left: 865px;
}

.About-Tab3 {
    margin-left: 857px;
    margin-top: 17px;
}

.Contact-Tab3 {
    margin-left: 868px;
    margin-top: 17px;
}

#Americas-Favorite-Photo {
    margin-top: 675px;
    margin-left: 90px;
}

#Fun-Facts-Text {
    margin-top: -980px;
    margin-left: -750px;
    text-align: center;
    font-size: 150%;
    color: #39663e;
}

#Interests-Text {
    margin-top: -200px;
    margin-left: -40px;
    text-align: center;
    font-size: 180%;
    color: #39663e;
}

#Traveling-Text {
    margin-top: -370px;
    margin-left: 620px;
    text-align: center;
    font-size: 150%;
    color: #39663e;
}

ul {
    
}

/* Things to still do for about page:
    Add text and story
    Change color & typeface for text
    Round images 
    Add/link story
    Center title
*/

#Contact-Main-Container {
    width: 1024px; 
    height: 720px; 
    border: solid; 
    border-color: black; 
    border-width: 1px;
}

.Contact-Border {
    height: 100px;
    width: 525px;
    background-color: #988aa5;
    margin-top: -110px;
    justify-self: center;
    border-radius: 30px;
}

#Contact-Logo {
    margin-top: -140px;
    margin-right: 710px;
}

#Cattail4 {
    margin-top: 335px;
    margin-left: 15px;
}

#Cattail5 {
    margin-top: -175px;
    margin-left: 375px;
}

.Email-Section {
    height: 200px;
    width: 400px;
    background-color: #92b696;
    margin-top: -490px;
    margin-left: 60px;
    border-radius: 25px;
}

.Image4 {
    height: 510px;
    width: 435px;
    background-color: #988aa5;
    margin-top: -260px;
    margin-left: 540px;
    border-radius: 30px;
}

.Email {
    height: 120px;
    width: 340px;
    background-color: #92b696;
    margin-top: -185px;
    margin-left: 85px;
    border-radius: 25px;
}

#Lily-Pad1 {
    margin-top: -475px;
}

#Lily-Pad2 {
    margin-top: -80px;
    margin-left: 300px;
}

#Lily-Pad3 {
    margin-top: 200px;
    margin-left: 370px;
}

.Portfolio-Contact {
    width: 135px;
    height: 30px;
    background-color: #aa9eb5;
    margin-left: 840px;
    margin-top: -503px;
    border-radius: 10px;
}

.About-Contact {
    width: 135px;
    height: 30px;
    background-color: #aa9eb5;
    margin-left: 840px;
    margin-top: 15px;
    border-radius: 10px;
}

.Contact-Contact {
    width: 135px;
    height: 30px;
    background-color: #aa9eb5;
    margin-left: 840px;
    margin-top: 15px;
    border-radius: 10px;
}

.bob {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.Portfolio-Tab4 {
    margin-top: -120px;
    margin-left: 865px;
}

.About-Tab4 {
    margin-left: 857px;
    margin-top: 20px;
}

.Contact-Tab4 {
    margin-left: 868px;
    margin-top: 17px;
}

#Moth {
    margin-left: 580px;
    margin-top: 75px;
}

.Email-Information-Title {
    height: 150px;
    width: 350px;
    background-color: #d9ecdd;
    margin-top: -395px;
    margin-left: 85px;
    border-radius: 25px;
}

.Email-Information {
    height: 80px;
    width: 300px;
    background-color: #d9ecdd;
    margin-top: 108px;
    margin-left: 105px;
    border-radius: 20px;
}

.Email-Information-Text {
    font-size: 50px;
    color: #39663e;
    margin-top: -290px;
    margin-left: 125px;
}

.Email-Text {
    font-size: 25px;
    color: #39663e;
    margin-top: 180px;
    margin-left: 120px;
}

/* Things to still do for Contact page 
    Add text
    Change color & typeface for text
    Round boxes 
    Center title
    Animate lily pads indivitually (timed)
*/