body{
    background-color:#d9ecdd; 
    display: flex;
    justify-content: center;
}

#Main-Container {
    width: 1024px; 
    height: 2740px; 
    border: solid; 
    border-color: black; 
    border-width: 1px;
}
 
#Header{
    width: 1024px;
    height: 150px;
    border: solid; 
    border-color: #6c5c7b; 
    border-width: 1px;
    background-color: #6c5c7b;

    text-align: center;
    font-size: xx-large;
}

.Border {
    height: 100px;
    width: 525px;
    background-color: #988aa5;
    margin-top: -110px;
    justify-self: center;
}

#Logo-Section {
    width: 1024px;
    height: 1140px;
    border: solid; 
    border-color: black;
    border-width: 1px;
}

#Home-Logo {
    margin-top: -140px;
    margin-right: 680px;
}

#Logo {
    margin-top: 35px;
    margin-left: 40px;
}

.Portfolio-About-Contact {
    height: 480px;
    width: 240px;
    background-color: #92b696;
    margin-top: -480px;
    margin-left: 730px;
    opacity: 80%;
}

.Image1 {
    height: 450px;
    width: 400px;
    background-color: #988aa5;
    margin-top: 70px;
    margin-left: 50px;
}

.Image2 {
    height: 450px;
    width: 480px;
    background-color: #988aa5;
    margin-top: -450px;
    margin-left: 490px;
}

#Resume {
    width: 1024px;
    height: 1450px;
    border: solid; 
    border-width: 1px;
    background-color: #aa9eb5;
}

#Resume-Header {
    width: 1024px;
    height: 140px;
    border: solid;
    border-color: #6c5c7b; 
    border-width: 1px;
    background-color: #6c5c7b;

    text-align: center;
    font-size: xx-large;
}

#Resume-Paper {
    margin-top: 75px;
    justify-self: center;
}

#Second-Home-Logo {
    margin-top: -135px;
    margin-left: 820px;
}

.Resume-Border {
    height: 100px;
    width: 525px;
    background-color: #988aa5;
    margin-top: -140px;
    justify-self: center;
}

/* Things to still do for home page: 
    link second home logo
    Fix portfolio-about-contact section
    Add images & text
    Change color & typeface for text
    Round boxes
    Add borders for above
    Center title
*/

#Portfolio-Main-Container {
    width: 1024px; 
    height: 750px; 
    border: solid; 
    border-color: black; 
    border-width: 1px;
}

#Portfolio-Logo {
    margin-top: -140px;
    margin-right: 660px;
}

.Portfolio-Topics {
    width: 1024px;
    height: 90px; 
    background-color: #aa9eb5;
}

.Photo-Section {
    width: 520px;
    height: 355px;
    background-color: #aa9eb5;
    justify-self: center;
    margin-top: 70px;
}

#Left1 {
    margin-top: -630px;
    margin-left: 30px;
}

#Photo-Left {
    margin-top: 350px;
    margin-left: 125px;
}

#Photo-Right {
    margin-top: -75px;
    margin-left: 810px;
}

.How-Many {
    width: 80px;
    height: 40px;
    background-color: #92b696;
    opacity: 80%;
    margin-top: -275px;
    margin-left: 670px;
}

.Description {
    height: 40px;
    width: 500px;
    background-color: #92b696;
    opacity: 80%;
    justify-self: center;
    margin-top: 390px;
}

#Cattail1 {
    margin-top: -190px;
    margin-left: 25px;
}

#Cattail2and3 {
    margin-top: -205px;
    margin-left: 780px;
}

/* Things to still do for portfolio page:
    Add text and images
    Change color & typeface for text
    link home logo
    Round boxes 
    Add borders for above
    Center title
*/

#About-Main-Container {
    width: 1024px; 
    height: 1365px; 
    border: solid; 
    border-color: black; 
    border-width: 1px;
}

#About-Logo {
    margin-top: -140px;
    margin-right: 660px;
}

#Left2 {
    margin-top: -115px;
    margin-left: 30px;
}

.Fun-Facts-Title {
    height: 100px;
    width: 260px;
    background-color: #aa9eb5;
    margin-left: 55px;
    margin-top: 80px;
}

.Interests-Title {
    height: 100px;
    width: 260px;
    background-color: #aa9eb5;
    justify-self: center;
    margin-top: -100px;
}

.Traveling-Title {
    height: 100px;
    width: 260px;
    background-color: #aa9eb5;
    margin-left: 710px;
    margin-top: -100px;
}

.Fun-Facts {
    height: 400px;
    width: 240px;
    background-color: #92b696;
    opacity: 80%;
    margin-left: 65px;
    margin-top: 40px;
}

.Interests {
    height: 400px;
    width: 240px;
    background-color: #92b696;
    opacity: 80%;
    justify-self: center;
    margin-top: -400px;
}

.Traveling {
    height: 400px;
    width: 240px;
    background-color: #92b696;
    opacity: 80%;
    margin-left: 720px;
    margin-top: -400px;
}

.Image3 {
    height: 550px;
    width: 390px;
    background-color: #aa9eb5;
    margin-top: 50px;
    margin-left: 65px;
}

.Story-Title {
    height: 100px;
    width: 260px;
    background-color: #aa9eb5;
    margin-top: -550px;
    margin-left: 610px;
}

.Story-Section {
    height: 405px;
    width: 475px;
    background-color: #92b696;
    opacity: 80%;
    margin-left: 505px;
    margin-top: 45px;
}

/* Things to still do for about page:
    Add text and image
    Change color & typeface for text
    link home logo
    Round boxes 
    Add borders for above
    Add/link story
    Center title 
*/

#Contact-Main-Container {
    width: 1024px; 
    height: 720px; 
    border: solid; 
    border-color: black; 
    border-width: 1px;
}

.Contact-Border {
    height: 100px;
    width: 525px;
    background-color: #988aa5;
    margin-top: -110px;
    justify-self: center;
}

#Contact-Logo {
    margin-top: -140px;
    margin-right: 660px;
}

#Left3 {
    margin-top: -115px;
    margin-left: 30px;
}

#Cattail4 {
    margin-top: 375px;
    margin-left: 15px;
}

#Cattail5 {
    margin-top: -175px;
    margin-left: 375px;
}

.Email-Section {
    height: 200px;
    width: 400px;
    background-color: #92b696;
    margin-top: -490px;
    margin-left: 60px;
}

.Image4 {
    height: 510px;
    width: 440px;
    background-color: #988aa5;
    margin-top: -260px;
    margin-left: 530px;
}

.Thank-You {
    height: 120px;
    width: 340px;
    background-color: #92b696;
    margin-top: -185px;
    margin-left: 85px;
}

#Lily-Pad1 {
    margin-top: -480px;
}

#Lily-Pad2 {
    margin-top: -80px;
    margin-left: 300px;
}

#Lily-Pad3 {
    margin-top: 200px;
    margin-left: 370px;
}

/* Things to still do for Contact page 
    Add text and image
    Change color & typeface for text
    link home logo
    Round boxes 
    Add borders for above
    Center title
*/